body {
  background-color: whitesmoke !important;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #7ab97a;
}

.main-page {
  height: 90vh;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.header-title {
  font-size: 400%;
  color: #7ab97a;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
/* REMEMBER TO ADD THE MEDIA FOR THIS */

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #7ab97a;
  }
}

.links-sections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-box {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.card-section {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  display: flex;
  min-height: 20%;
  background-color: #7ab97a;
  width: 100%;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  font-size: 300%;
}

.info-card {
  color: #121212;
  width: 50%;
  height: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-body {
  overflow: hidden !important;
}

.card-text {
  max-height: 60%;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  margin: 1%;
}

.skills-icon-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title-and-links {
  display: flex;
  flex-direction: column;
}

.footer-title {
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

.card-link-title {
  color: #7ab97a;
}

.fade-in {
  animation: fadeIn 3s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
